<!DOCTYPE html>
<html>
<head>
    <title>{{ttile}}</title>

    <meta charset="utf-8"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
</head>

<body>
    <h1>{{ttile}}</h1>
<div id="render-react-here">
</div>
<script
        type="text/javascript"
        src="{{ url_for('static', filename='dist/main.bundle.js') }}"
></script>
</body>

</html>